<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top mynavbar" role="navigation">
    <div class="container" style="width: 100%">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="color: aliceblue" href="/">Smart Bean</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" style="color: aliceblue">Resources</a>
                </li>
                <li>
                    <a href="#" style="color: aliceblue">Statistics</a>
                </li>
                <li>
                    <a href="/contact" style="color: aliceblue">Contact</a>
                </li>
                <li>
                    <form class="navbar-form navbar-left" style="width: 100%">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" style="color: aliceblue"><span class="glyphicon glyphicon-user"></span> Kevin Durranty</a></li>
                <li><a href="#" style="color: aliceblue"><span class="glyphicon glyphicon-cog"></span> </a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container -->
</nav>