<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background: skyblue; font-family: Verdana; color: #fff; padding: 30px;}
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        h2{font-size: 30px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p, li{text-align: center; font-size: 16px;}
        ul{list-style-type: none; padding: 0;}
        button{text-align: center; font-size: 20px;}
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <% include partials/css_links.ejs %>
</head>
<body>
    <!-- import the 'nav' partial view (partial template) -->
    <% include partials/nav_with_styling.ejs %>
    <h1>This is the contact page</h1>
</body>
</html>
