<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <% include partials/css_links.ejs %>
</head>
<body>
    <!-- import the 'nav' partial view (partial template) -->
    <% include partials/nav_with_styling.ejs %>
    <div>
        <h1>welcome to the profile of <%= person %></h1>
        <p><strong>Age: </strong><%= data.age %></p>
        <p><strong>Job: </strong><%= data.job %></p>
        <h2>Hobbies:</h2>
        <ul class="myUl">
            <% data.hobbies.forEach(item => { %>
                <li class="myLi"><%= item %></li>
            <% }); %>
        </ul>
        <p><button><a href="https://masonshi23.wixsite.com/website"> CLICK ME IF YOU DARE </a></button></p>
    </div>
    <% include partials/js_templates/optional_js_for_bootstrap.ejs %>
</body>
</html>
